body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  text-decoration: none;
  color: inherit;
}

.container {
  overflow-y: auto;
  width: 100%;

  @media (max-width: 850px) {
    display: flex;
    position: absolute;
    top: 55px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
