.social-links {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;

  .btns {
    display: flex;
    margin: auto;

    div {
      display: flex;
      margin: auto 15px auto auto;
      cursor: pointer;
      &:hover {
        color: #3d55d1;
      }

      svg {
        margin: auto;
      }
    }
  }

  @media (max-width: 850px) {
  }
}
