.master {
  width: 100%;
}

.skills-intro {
  display: flex;
  flex-direction: column;

  .tech-skills {
    display: flex;
    flex-wrap: wrap;

    span {
      margin: auto 5px auto 5px;
      border: solid 1px #eee;
      padding: 5px 5px;
      border-radius: 5px;
    }
  }
}
